h1, h2 {
  color: green;
  font: 
}

p {
  color: gray;
}
ul {
  border: 2px solid yellow;
}

ol {
  border: 2px solid green;
}

ol, ul {
  padding: 25px 40px;
  border-radius: 40px;
}
h1, strong {
  color: blue;
}

em {
  color: gray;
}
.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: center;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.one{
  border: 1px solid black;
  padding: 2px;
}
.two{
  padding: 2px;
  border: 1px solid black;
}
.three{
  padding: 2px;
  border: 1px solid black;
  
}
.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media screen
  and (min-width: 641px)
  and (max-width: 900px)  {
.container {
grid-template-columns:
   1fr 1fr;
}
}/* end tablet media query */

@media screen
  and (max-width: 640px)  {
.container {
grid-template-columns:
   1fr;

}
    
