h1, h2 {
  color: green;
}

p {
  color: gray;
}
ul {
  border: 2px solid yellow;
}

ol {
  border: 2px solid green;
}

ol, ul {
  padding: 25px 40px;
  border-radius: 40px;
}
h1, strong {
  color: blue;
}

em {
  color: gray;
}
.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: center;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.one{
  border: 1px solid black;
  padding: 2px;
}
.two{
  padding: 2px;
  border: 1px solid black;
}
.three{
  padding: 2px;
  border: 1px solid black;
  
}

    
